{% load static %}
{{ form.media }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if request.path != '/' %}{% block title %}{% endblock %} | {% endif %} 本郷ランチ</title>
    {% include 'meta_css.html' %}
    {% block meta_css %}{% endblock %}
  </head>
  <body>
    <div class="container">
      {% if messages %}
        <br>
        <ul class="messages">
          {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
              {{ message|safe }}
            </div>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% block content %}{% endblock %}
    <div id="scripts">
      {% include 'meta_js.html' %}
      {% block meta_js %}{% endblock %}
    </div>
  </body>
</html>
