{% extends 'base.html' %}
{% load static %}
{% block title %}ガチャ{% endblock %}
{% block meta %}
<link href="{% static 'css/checkbox.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/select_all.js' %}" charset="utf-8"></script>
{% endblock %}
{% block content %}
<div class="py-4 container text-center">
  <div class="col-lg-8 offset-lg-2">
    <legend class="title">
      <h2>本郷ランチガチャ</h2>
    </legend>
    <br>
    <form class="" method="post">
      {% csrf_token %}
      <div class="text-center">
        <button type="submit" class="btn-lg btn btn-primary">
          ガチャを引く
        </button>
      </div>
      <hr>
      <fieldset>
        <div class="card" id="cardDistrict">
          <div class="card-header">
            地区を選ぶ　
            <button type="button" id="selectDistrict" class="btn btn-sm btn-outline-secondary selectAllButton">
              全選択
            </button>
          </div>
          <div class="card-body">
            <p>※選択しない場合は全候補からピックアップします</p>
            {{ form.district }}
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            販売形式を選ぶ
          </div>
          <div class="card-body">
            {{ form.sale_style }}
          </div>
        </div>
        <div class="card" id="cardGenre">
          <div class="card-header">
            ジャンルを選ぶ　
            <button type="button" id="selectGenre" class="btn btn-sm btn-outline-secondary selectAllButton">
              全選択
            </button>
          </div>
          <div class="card-body">
            <p>※選択しない場合は全候補からピックアップします</p>
            {{ form.genre }}
          </div>
        </div>
      </fieldset>
    </form>
    <hr>
    <div class="col-md-8 offset-md-2 text-center">
      <div class="row">
        <div class="col-md-4">
          <a href="{% url 'lunch_gacha:list' %}">ガチャの出力一覧</a>
        </div>
        <div class="col-md-4">
          <a href="{% url 'release_manager:release_log' id=0 %}">リリースノート</a>
        </div>
        <div class="col-md-4">
          <a href="/admin/">管理者サイト</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
