name: Python Flake8

on:
  push:
    paths:
      - '**.py'
      - '!**/__init__.py'
      - '!**/migrations/**'
      - '!**/tests.py'
      - '!**/settings/**'
  pull_request:
    paths:
      - '**.py'
      - '!**/__init__.py'
      - '!**/migrations/**'
      - '!**/tests.py'
      - '!**/settings/**'

jobs:
  flake8_py3:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9.10
          architecture: x64
      - name: Install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8
      - name: Run flake8
        run: flake8 --exclude=.venv/,migrations,__init__.py,hongo_lunch/settings --max-line-length=100
